<div class="content">
    <div class="content-banner">
        <div class="content-banner-1">
            <img src="images/image-banner-1_04.jpg" alt="banner-01">
            <div class="content-banner-1-info">
                <h3 class="bold">Two High-end Materials</h3>
                <button type=" button" class="shop-now">Shop Now</button>
            </div>
        </div>
        <div class="content-banner-2">
            <div class="wrap-content-banner-2-info">
                <img src="images/Đề-1_05.jpg " alt="banner-02 ">
                <div class="content-banner-2-info">
                    <p>SMALL THING</p>
                    <h3 class="bold">MAKE DIFFIRENT
                    </h3>
                </div>
            </div>
            <div class="wrap-content-banner-3-info">
                <img src="images/Đề-1_08.jpg " alt="banner-03 ">
                <div class="content-banner-3-info">
                    <p>FOLIO</p>
                    <h3 class="bold">BACKPACK</h3>
                    <button type=" button " class="shop-now">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-featured">
        <div class="content-featured-heading">
            <p>FRANCO</p>
            <h2>FEATURED ITEMS</h2>
            <p class="content-featured-heading-span"></p>
        </div>
        <div class="content-featured-product">

            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_11.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name">
                        <a href="#">Suspendisse id volutpat</a>
                    </p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_13.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name"><a href="#">Lorem ipsum dolor</a></p>
                    <span class="product-star">
                    <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                    <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                    <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                    <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                    <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_15.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name">
                        <a href="#">Proin sed nulla mi</a>
                    </p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <!-- <span class="price-old"><i class="fa fa-dollar"></i>99.00</span> -->
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_17.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name"><a href="#">Aebean placerat</a></p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="content-featured-product">
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_22.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name"><a href="#">Suspendisse id volutpat</a></p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_24.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name">
                        <a href="#">Lorem ipsum dolor</a>
                    </p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_26.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name"><a href="#">Proin sed nulla mi</a></p>
                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <!-- <span class="price-old"><i class="fa fa-dollar"></i>99.000</span> -->
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
            <div class="product">
                <a href="#">
                    <div class="wrap-image">
                        <img src="images/Đề-1_27.jpg" alt="image product">
                        <button type="submit">ADD TO CART</button>
                    </div>
                </a>
                <div class="info-product">
                    <p class="product-name">
                        <a href="#">Aebean placerat</a></p>

                    <span class="product-star">
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-active" aria-hidden="true"></i>
                        <i class="fa fa-star-o star-deactive" aria-hidden="true"></i>
                    </span>
                    <p class="product-price">
                        <span class="price-old"><i class="fa fa-dollar"></i>99.00</span>
                        <span class="price-sale"><i class="fa fa-dollar"></i>84.00</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>