<div class="footer">
    <div class="content-footer">
        <div class="col-content-footer">
            <h4 class="col-content-footer-heading">About Franco</h4>
            <div class="underlined"></div>
            <p class="col-content-footer-info-about">Aliquam tempor sagittis neque, vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris vulputate mi, eu interdum nunc diam at ipsum. </p>
            <div class="col-content-footer-link">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
                <a href="#"><i class="fa fa-globe"></i></a>
            </div>
        </div>
        <div class="col-content-footer">
            <h4 class="col-content-footer-heading">Navigation</h4>
            <div class="underlined"></div>

            <div class="col-content-footer-info-navigation">
                <div>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a></li>
                        <li>
                            <a href="#">Our Blog</a></li>
                        <li>
                            <a href="#">Women</a></li>
                        <li>
                            <a href="#">Men</a></li>
                        <li>
                            <a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div>
                    <ul style="padding-left: 10px;">
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Featured Brands</a></li>
                        <li>
                            <a href="#">Gift Vouchers</a></li>
                        <li>
                            <a href="#">Affiliates</a></li>
                        <li>
                            <a href="#">Specicals Gift</a></li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-content-footer">
            <h4 class="col-content-footer-heading">Shop Locaation</h4>
            <div class="underlined"></div>

            <div class="col-content-footer-info">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-map"></i> 500 Hennesy Road Causeway Bay, Hong Kong</a>
                    </li>
                    <li>
                        <a type="tel" href="tel:1234566789"><i class="fa fa-phone"></i> + 1 23456789</a>
                    </li>
                    <li>
                        <!-- <a type="email" href="contact@yourdomain.com"><i class="fa fa-envelope"></i> contact@yourdomain.com</a> -->
                        <a href="mailto: abc@example.com"><i class="fa fa-envelope"></i> contact@yourdomain.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-copyright-payment">
        <div class="copyright-payment">
            <div class="copyright">
                <i class="fa fa-copyright"></i> Copyright 2015 & Made with <i class="fa fa-heart"></i> by
                <a href="#">ArrowHitech.</a>
            </div>
            <div class="payment">
                <a href="#"><i class="fa fa-cc-visa"></i></a>
                <a href="#"><i class="fa fa-cc-paypal"></i></a>
                <a href="#"><i class="fa fa-cc-mastercard"></i></a>
                <a href="#"><i class="fa fa-cc-discover"></i></a>
                <a href="#"><i class="fa fa-cc-amex"></i></a>
            </div>
        </div>
    </div>
</div>